<ion-view title="Acertou" id="page4">
  <ion-content padding="true" style="background: url(img/DlDRjL2wTFGVn7IiizR8_background20calcado20jogo20prot1.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="vida">
      <img src="img/P3lf57wQmJvTRnNo5FkA_vida.gif" style="display: block; width: 20%; height: auto; margin-left: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 15%;"></div>
    <div id="acertou-markdown9" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">Escrever aqui Oque Acontece com o Calçado quando ele
        <strong>acerta</strong>
      </p>
    </div>
    <a ui-sref="pergunta()" id="acertou-button4" style="font-weight:600;" class="button button-balanced button-block">Continuar</a>
  </ion-content>
</ion-view>