<ion-view title="Errou" id="page6">
  <ion-content padding="true" style="background: url(img/DlDRjL2wTFGVn7IiizR8_background20calcado20jogo20prot1.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="vida">
      <img src="img/P3lf57wQmJvTRnNo5FkA_vida.gif" style="display: block; width: 20%; height: auto; margin-left: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 15%;"></div>
    <div id="errou-markdown10" class="show-list-numbers-and-dots">
      <p style="margin-top:0px;color:#000000;">É passou perto mas não acertou, o calçado vai ficar ... tente novamente.</p>
    </div>
    <a ui-sref="pergunta()" id="errou-button5" style="font-weight:600;" class="button button-assertive button-block">Continuar</a>
  </ion-content>
</ion-view>