<ion-view title="Escolha Material" id="page2">
  <ion-content padding="true" style="background: url(img/FEJ7zpxcQBS4n8YSRa7B_background20calcado20jogo20prot1.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="vida">
      <img src="img/j6xfX3HySSthrfFgcKip_vida.gif" style="display: block; width: 20%; height: auto; margin-left: auto;">
    </div>
    <div class="list card" id="escolhaMaterial-card21">
      <ion-item class="dark" id="escolhaMaterial-list-item3">Couro + Sola de Borracha</ion-item>
      <div class=" item item-image">
        <img src="img/vNbX1MDR4iprFFFVsm09_card1-couroESoladeBorracha.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="escolhaMaterial-list-item-container2">
        <div id="escolhaMaterial-markdown3" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Escrever aqui alguma
            <strong>Descricao</strong> do item escolhido, para melhor instruir quem esta sendo capacitado</p>
        </div>
      </div>
      <a ui-sref="pergunta()" id="escolhaMaterial-button3" class="button button-positive button-block">Escolher</a>
    </div>
  </ion-content>
</ion-view>