<ion-view title="Game Over" id="page8">
  <ion-content padding="true" style="background: url(img/DlDRjL2wTFGVn7IiizR8_background20calcado20jogo20prot1.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="vida">
      <img src="img/P3lf57wQmJvTRnNo5FkA_vida.gif" style="display: block; width: 20%; height: auto; margin-left: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 15%;"></div>
    <div>
      <img src="img/7oJHix5rTOOEv88BZo7o_GameOver.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="principal()" id="gameOver-button9" style="font-weight:600;" class="button button-assertive button-block">Restart</a>
  </ion-content>
</ion-view>