<ion-view title="Ganhou" id="page9">
  <ion-content padding="true" style="background: url(img/DlDRjL2wTFGVn7IiizR8_background20calcado20jogo20prot1.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="vida">
      <img src="img/P3lf57wQmJvTRnNo5FkA_vida.gif" style="display: block; width: 20%; height: auto; margin-left: auto;">
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/zCblgZT1RES1nvLI3uFK_trofeu.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="ganhou-heading5" style="color:#000000;">Conquista alcançada!</h3>
    <div id="ganhou-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Você completou o treinamento de colagem, e ainda com
        <strong>X</strong>
        vidas, Assume apartir de agora o Status de
        <strong>Veterano</strong> na Colagem</p>
    </div>
    <a ui-sref="principal()" id="ganhou-button10" style="font-weight:600;" class="button button-balanced button-block">Recomeçar</a>
  </ion-content>
</ion-view>