<ion-view title="Pergunta" id="page3">
  <ion-content padding="true" style="background: url(img/L4pHQH2GRlGLzFe9MnaX_backgroundPergunta.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="vida">
      <img src="img/FQ9H7A1TKO2V4KdJkbgd_vida.gif" style="display: block; width: 20%; height: auto; margin-left: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 15%;"></div>
    <div id="pergunta-container3">
      <h1 id="pergunta-heading4" style="color:#000000;text-align:center;">Item</h1>
    </div>
    <a ui-sref="acertou()" id="pergunta-button6" class="button button-balanced button-block">Acertou</a>
    <a ui-sref="errou()" id="pergunta-button7" class="button button-assertive button-block">Errou</a>
    <a ui-sref="ganhou()" id="pergunta-button11" class="button button-calm button-block">Ganhou</a>
    <a ui-sref="gameOver()" id="pergunta-button12" class="button button-dark button-block">Game Over</a>
  </ion-content>
</ion-view>