/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/06/2018, 13:37:33
    Author     : tiago
*/
.image-item{
    border: 4px solid #e9ecef;
    border-radius: 100%;
    max-width: 90%;
}

.painel-texto-item{
    font-size: 80%;
}
